.contact__container{
    display: grid;
    place-items: center;
    grid-template-columns: 30% 60%;
    gap: 10%;
    
}

.contact__wrapper{
    width: fit-content;
    display: relative;
    align-items: center;
    padding: 2rem;
    margin-top: -5rem;
    
}

.contact__wrapper a{
    margin-top: 3rem;
    display: inline-block;
    background: var(--color-primary);
    text-align: center;
    border: 2px solid transparent;
    transition: var(--transition);
    padding:1rem;
    border-radius: 1rem;
    height: 3rem;
    width: 3rem;
    font-size: 0.9rem;
    margin: 0.5rem;

}

.contact__wrapper a:hover{
    background: transparent;
    border-color: var(--color-black);
}

input, textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background:  var(--color-primary);
    border: 1px solid var(--color-black);
    resize: none;
    color: var(--color-black);
    transition: var(--transition);
}
input:placeholder-shown, textarea:placeholder-shown{
    background: transparent;

}
form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.btn-primary{
    background: var(--color-secondary);
}

.contact__options{
    margin-top: -5rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option{
    background: var(--color-primary);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    border-color: var(--color-primary-variant);

}

.contact__option:hover{
    background: transparent;
}

.contact__option-icon{
    font-size: 1.5rem;
    margin: 0.5rem;
}

.contact__option p{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
    border-top: 1px solid var(--color-black);
    width: 100%;
}   
.contact__option:nth-child(3) h4{
    border-bottom: 1px solid var(--color-black);

}

.contact__option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 1rem;
    margin: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--color-black);
    border-radius: 50%;
    background: var(--color-primary-variant);
}

.textarea{
    font-size: 0.8rem;
    margin-bottom: 2rem ;
    

}
.emptyContainer{
    border-bottom: 1px solid var(--color-black);
    margin-bottom: 1.7rem;
}





/* =============MEDIA QUERIES SMALL =============== */
@media screen and(max-width : 600px) {

    .contact__wrapper{
        gap: 1.5rem;

    }
    .contact__wrapper a{
        padding: 1rem;
        font-size: 1.2rem;
        border-radius: 1rem;
    }
    .container.contact__container{
        width: var(--container-width-sm);
    }
    
}
@media screen and (max-width: 1024px) {
    .container.contact__container{
        grid-template-columns: 1fr;
        gap: 2rem;

    }
    
}



